*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Times New Roman", sans-serif;
}

body{
    background-color: #fdfdfd;
    color: #030303;
}
header{
    background-color: #22a126;
    color: white;
    text-align: center;
    padding: 20px;
}
nav{ 
    background-color: #137217;
    padding: 10px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
main{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
}
.dest{
    background-image: url("../Images/Fazenda01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.container img{
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}
.texto{
    width: 50%;
    padding: 20px;
}
section:nth-child(even).texto{
    order: -1; /*Move o texto para antes da imagem*/
}